{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<img src="{% static 'images/banners/cover.jpg' %}" class="img-fluid rounded">
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Popular products</h3>
</header><!-- sect-heading -->

	
<div class="row">
	{% for product in products %}
         <div class="col-md-3">
            <div class="card card-product-grid">
                <a href="{{ product.get_absolute_url }}" class="img-wrap">
    			{% with first_image=product.images.first %}
       			 {% if first_image %}
         		   <img src="{{ first_image.image.url }}" alt="{{ first_image.alt_text }}">
        		{% else %}
         		   <img src="{% static 'images/no-image.png' %}" alt="No image">
        		{% endif %}
   				 {% endwith %}
</a>
                <figcaption class="info-wrap">
                    <a href="{{ product.get_absolute_url }}" class="title">{{ product.title }}</a>
                    <div class="justify-content-between">
						<div class="text-decoration-line-through"><del>Rs.{{ product.price }}</del></div>
						<div class="price">Rs.{{ product.discounted_price }}</div>
							{% if product.stock <= 0 %}
							<div class="text-danger text-center">Out of Stock</div>
							{% else %}
							<a href="{% url 'add_to_cart' product.id %}" class="btn btn-outline-warning btn-small rounded-pill"><i class="fas fa-plus"></i> <i class="fas fa-shopping-cart"></i></a>
							{% endif %}
					</div>	
                </figcaption>
				
			</div> <!-- card.// -->
			<div class="card-footer">
				
			
				
            </div>
        </div>
        
    {% endfor %}
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->





</body>
</html>
{% endblock %}